services:
  dev-toolchain:
    build:
      context: .
      dockerfile: Dockerfile.dev
    volumes:
      - .:/app
    command: [ "/bin/bash", "-c", "sleep infinity" ]
    container_name: dev-toolchain

  log-collector:
    build:
      context: .
      target: log-collector-image
    ports:
      - "5555:5555"
    networks:
      - log_net

  log-agent:
    build:
      context: .
      target: log-agent-image
    volumes:
      - ./logs:/watch_logs
    command: ["/watch_logs", "tcp://server:5555"]
    networks:
      - log_net

networks:
  log_net:
    driver: bridge